.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.articleTextColor {
    color: #000000;
}

.articleTextSize {
    font-size: 100%;
}

.articleTitleColor{
    color: #000000;
}

.articleTitleSize{
    font-size: 150%;
}

.full_width_wrapper{
    width: 100%;
    margin: 0 auto;
}

.login_management{

}

.login_management a{
    color: #00bf00;
    border-style: outset;
    border-color: #000000;
    border-left-color: #666666;
    border-top-color: #666666;
}

.header_box{

}

#header_web_title{
    font-size: 200%;
}

#navigation{
    font-size: 120%;
}

#navigation a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation a:hover {

}

p{

}

header{
    background-color: #757575;
    margin: 0px;
}

footer{
    background-color: #757575;
    margin: 0px;
}

main{
    background-color: #fafafa;
    margin: 0px;
}

body{
    background-image: url("../pic/background_PIXNIO.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}

h1, h2, h3, form, p, a, div, ul, li, hr, br, nav{
    margin: 0px;
}

/*+registrace*/
* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #416aaf;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
/*-registrace*/