.center {
    text-align: center;
    alignment: center;
}

.right {
    text-align: right;
    alignment: right;
    margin-right: 50px;
}

.left {
    text-align: left;
    alignment: left;
    margin-left: 50px;
}

.articleTextColor {
    color: #000000;
}

.articleTextSize {
    font-size: 100%;
}

.articleTitleColor{
    color: #000000;
}

.articleTitleSize{
    font-size: 150%;
}

.full_width_wrapper{
    width: 100%;
    margin: 0 auto;
}

.login_management{
    padding: 20px 5px 0px 0px;
    margin: 0px 0px -20px 0px;
}

.login_management a{
    color: #d8d8d8;
    border-style: outset;
    border-color: #000000;
    border-left-color: #666666;
    border-top-color: #666666;
}

.header_box{
    color: #fafafa;
}

#header_web_title{
    font-size: 200%;
}

#navigation{
    font-size: 120%;
}

#navigation a {
    color: #d8d8d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header{
    background-color: #757575;
    margin: 0px 1%;
}

footer{
    color: #d8d8d8;
    background-color: #757575;
    margin: 0px 1%;
}

main{
    background-color: #fafafa;
    margin: 0px 7%;
}

body{
    background-image: url("../pic/background_PIXNIO.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, form, p, a, div, ul, li, hr, br, nav{
    margin: 0px;
    padding: 0;
    box-sizing: unset;
    resize: none;
    justify-self: unset;
}
/*převzato z: https://www.w3schools.com/*/
table {
    border-spacing: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table.tb1 tr:nth-child(even) {
    background-color: #eee;
}
table.tb1 tr:nth-child(odd) {
    background-color: #fff;
}
table.tb1 th {
    color: white;
    background-color: black;
}
/*https://www.w3schools.com/*/

.mezera{
    margin-bottom: 20px;
}

.icons{
    width: 20px;
    height: auto;
}

/*+registrace  převzato z: https://www.w3schools.com/*/
* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #416aaf;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
/*-registrace*/

/*+náhled článku*/
.kon_nah{
    margin-right: auto;
    margin-left: fill;
    width: 80%;
}

.nahled {
    alignment: center;
    text-align: center;
    margin: 3px 5px 3px 5px;
    border-style: solid;
    border-color: #000000;
    border-left-color: #666666;
    border-top-color: #666666;
    width: 400px;
    height: 70px;
    display: inline-block;
    padding: 10px;
}

.nahled a{
    color: #000000;
    text-align: center;
    alignment: center;
}
/*-náhled článku*/

/*+clanek*/
.clanek{
    margin-left: 5%;
    margin-right: 5%;
    font-size: medium;
    font-family: "Times New Roman";
    background-color: #f1f1f1;
    padding: 3%;
}

.clanek .nadpis{
    padding: 2%;
    font-size: larger;
    background-color: #e0e0e0;
}

.oblibene{

}
/*-clanek*/

/*+komentare převzano z: https://www.webdesignerdepot.com/2013/01/how-to-build-a-threaded-comment-block-with-html5-and-css3/*/


#comments { display: block; }

#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 65px; border-top: 1px solid #ddd; }

/*#comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }*/



#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }
#comments .cmmnt .cmmnt-content header { font-size: 1.3em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; }
#comments .cmmnt .replies { margin-bottom: 7px; }
/*-komentare*/

@media print{
    title, nav, button, footer, form, header{
        display:none;
    }

    .login_management{
        display: none;
    }

    #comments{
        display: none;
    }

    .icons{
        display: none;
    }

    .oblibene{
        display: none;
    }

    a{
        color: #000000;
    }
}